<li>
  Name: <%= user.name %>
  <span class="profile-link">
    <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
  </span>
  <br>
  <% if user.inverse_friendships.exists? %>
  Pending Friendships: <% user.inverse_friendships.each do |i| %>
  <% if i.status == false %>
  <p> Pending put buttons to accept or deny</p>
  <% else %>
  <h5>I am a friend</h5>
  <% end %>
  <% end %>
  <% else %>
  <%= button_to 'Invite to friendship', user_friendships_path(user)  %>
  <% end %>
  <br>
  Friendships: <% user.friendships.each do |i| %>
  <%= i %>
  <% end %>
  <br>
  Inverse Friendships: <% user.inverse_friendships.each do |i| %>
  <%= i.status %>
  <% end %>


</li>