<section class="user-section">

  <br>
  <h3 class="text-danger">Pending Friends:</h3>
  <% if @user.inverse_friendships.exists? %>
  <% @user.inverse_friendships.each do |i| %>
  <br>
  <h4 class="text-capitalize"><%= i.user.name %></h4>
  <br>
  <% if i.status == false %>

  <%= link_to 'Accept', user_friendship_path(@user, i.id), class:"btn btn-outline-primary", method: :patch %>
  <% if i.status == true %>
  <%= flash[:notice] = "You accept #{i.name.capitalize}'s frienship request." %>
  <% end %>
  <%= link_to 'Deny', user_friendships_path(@user) , class:"btn btn-outline-secondary" %>

  <% end %>
  <% end %>
  <% end %>




  <br>
  <br>
  <article class="timeline">
    <h3 class="text-primary">Your Posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>