<section class="user-section">

  <h3><%= "Name: #{@user.name}" %> </h3>

  <% if @user != current_user  %>
  <% if current_user.friendships.exists? %>
  <% @user.friendships.each do |f| %>
  <%if f.status == false%>
  <%= button_to 'Pending', users_path %>
  <% elsif f.status == true %>
  <h4> "Hi"</h4> <%= f.name %>
  <% else %>
  <%= button_to 'Invite to friendship', user_friendships_path(@user) %>
  <% end %>
  <% end %>
  <% end %>
  </span>
  <% else %>
  <h4>My friends : </h4>
  <% @user.friends.each do |f| %>
  <%= f.name %>
  <% end %>
  <h4>Pending friends : </h4>
  <% @user.pending_friends.each do |f| %>
  <%= f.name %>
  <% end %>
  <% end %>

  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>