<section class="user-section">

  <h3><%= "Name: #{@user.name}" %> </h3>

  <h4>Pending Friends:</h4>
  <% if @user.inverse_friendships.exists? %>
    <% @user.inverse_friendships.each do |i| %>
     <h4><%= i.user.name %></h4> 
      <% if i.status == false %>
        <%= link_to 'Accept', Users.confirm_friend(@user), class:"btn btn-primary" %>
        <%= button_to 'Denied', user_friendships_path(@user), class:"btn btn-primary" %>
      <% end %>
    <% end %>
  <% end %>
 
  

  <article class="timeline">
    <h5>Recent posts:</h5>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>